img {
    height: 250px;
  width: 350px;
    transition: transform 1s, filter 1s ease-out;
    filter: blur(2px) ;
        border-radius: 20px;

   
}

/* The Transformation */
img:hover{
  filter: blur(0);
  transform: scale(1.2);
  filter: brightness(100%);
       


}


body {
    font-family: Raleway;
        background: #202125;

}


.image-container {
box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
border: 2px solid gray;
}


.gallery-container {
    padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1{
 text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
}


